@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: 'Valorant Font';
    src: url('/assets/Valorant\ Font.ttf');
}
:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #090814;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

* {
    font-family: 'Valorant Font';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    background-image: url('/assets/killjoy.jpeg');  
    background-size: cover; 
    background-position: center;
}

/* H1's */
header h1 {
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    opacity: 0,5;
}

h1 {
    font-style: normal;
    font-family: 'Valorant Font';
    text-align: center;
    color: rgb(241, 228, 228);
}
/* ------------ */

/* LOCAL ONDE APARECE O ELO */
.imagem-quadrado {
    width: 100px; 
    height: 100px;
    background-size: cover;
    margin-bottom: 20px;
}
/* ------------ */

.container { /* Deixa os elos lado a lado */
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 80vh;
}

.form-container { /* Deixa os elos alinhados */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 20px; 
}

/* FORMULARIO */
form {
    padding: 30px; 
    font-family: 'Oswald', sans-serif; 
}

label { /* Escolha seu elo/Elo desejado */
    font-family: 'Valorant Font';
    font-size: large;
    color: #fff;
}
/* ------------ */

/* IMAGEM DA SAGE */

.imagem_sage img {
    height: 500px;
}

.imagem_sage {
    background-color: #110C28;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#faq {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: #a8a29e;
}

#faq2 {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: #a8a29e;
    }

#faq h4{
    margin-bottom: 10px;
    color: #fff;
}

#faq2 h4{
    margin-bottom: 10px;
    color: #fff;
}

/* ------------ */

/* IMAGEM DOS ELOS */
#elo{
    color: #fff ;
    background-color: #110C28;
    font-family: 'Oswald';
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

#elo2{
    color: #fff ;
    background-color: #110C28;
    font-family: 'Oswald';
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}
/* ------------ */


/* FOOTER */

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: #090814;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4;
}

.footer-list .footer-link:hover{
    color: #7f3fc9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p{
    color: var(--color-neutral-30);
}
/* ------------ */

/* REDES SOCIAIS */
#Discord {
    background-color: #7487CC;
}

#TikTok {
    background-color: #050505;
}

#Instagram {
    background: linear-gradient(#7f3fc9, #ff2992, #ff9807);
}
/* ------------ */

/* INPUTS */
#input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-40);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f3fc9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.5;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}/* ------------ */

/* RESPONSIVIDADE */
@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1ft);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1ft);
        padding: 3rem 2rem;
    }
}
/* ------------ */
